
<div class="container text-center">
  <div class="card">
    <div class="card-header">
      <h3>Listado de categorias</h3>
      <button class="btn btn-primary" routerLink="/category/add-category">
        <i class="fa fa-plus"></i>
        Agregar Categoria
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Categoria</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                  <tr>
                    <td>1</td>
                    <td>Pantalones</td>
                    <td>
                      <button class="btn btn-primary">Editar</button>
                      <button class="btn btn-danger">Eliminar</button>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
