<div class="card">
  <div class="card-header">
    <h2>Agregar producto</h2>
  </div>
  <div class="card-body">
    <form class="form-group">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Documento *</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Documento">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre *</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Apellido *</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Dirección *</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Dirección">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo *</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Correo">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Telefono *</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Telefono">
      </div>
      <hr>
      <div class="mb-3">
        <button routerLink="/category/list-category" type="submit" class="form-control btn btn-primary">Agregar</button>
      </div>
    </form>
  </div>
</div>
