<div class="card">
  <div class="card-header">
    <h2>Agregar categoria</h2>
  </div>
  <div class="card-body">
    <form class="form-group">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre de categoria *</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre de categoria">
      </div>
      <hr>
      <div class="mb-3">
        <button routerLink="/category/list-category" type="submit" class="form-control btn btn-primary">Agregar</button>
      </div>
    </form>
  </div>
</div>
