
<div class="container text-center">
  <h3>Listado de productos</h3>
  <hr>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Documento</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Direccion</th>
              <th>Correo</th>
              <th>Telefono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
              <tr>
                <td>1</td>
                <td>1002578412</td>
                <td>luis</td>
                <td>perez</td>
                <td>cl 1 10 12</td>
                <td>luis@gmail.com</td>
                <td>3005236478</td>
                <td>
                  <button class="btn btn-primary">Editar</button>
                  <button class="btn btn-danger">Eliminar</button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
